{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<header>
    <div class="ps-4">
        <div class="fs-1 mt-4">Looking for news headlines??</div>
        <div class="fs-3 text-muted">There you go....</div>
    </div>

</header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="p-5">
                <img src="{% static 'core/images/news.jpg' %}" alt="image" class="img-fluid">
            </div>
        </div>
        <div class="col">
            <div class="d-grid gap-2">
                <a href="{% url 'core:hackernews' %}" class="btn btn-warning btn-lg" tabindex="-1" role="button" aria-disabled="true">HackerNews</a>
                <a href="{% url 'core:yourstory' %}" class="btn btn-info btn-lg" tabindex="-1" role="button" aria-disabled="true">Yourstory</a>
            </div>
        </div>

    </div>
</div>




{% endblock content %}